@font-face {
  font-family: 'Avenir Md LT Std';
  src: url('AvenirLTStd-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir Bk LT Std';
  src: url('AvenirLTStd-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
